<!-- app/views/users/logout.html.erb -->

<h1>Logout</h1>

<!-- You may want to display a confirmation message or additional content here -->

<%= link_to 'Logout', logout_users_path, method: :delete %>
<%= link_to 'Back to Home', root_path %>
